<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
       <div class="row">
          <div class="small-12 columns">
            <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2">
            <% for(var i=0; i<jobs.length; i++) { %>
            <li id="<%= jobs[i]._id %>">
              <div class="panel">
                  <h3><%= jobs[i].title %></h3>
                  <p><%= jobs[i].company %></p>
                  <p><%= jobs[i].description %></p>
                  <dl class="sub-nav">
                    <dd><a class="edit" href="/jobs/edit/<%= jobs[i]._id %>">Edit</a></dd>
                    <dd><a class="delete" href="<%= jobs[i]._id %>">Delete</a></dd>
                  </dl>
              </div>
            </li>
            <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
$( ".delete" ).click(function(event) {
  var id = $(this).attr("href");
  $.ajax({
      url: '/api/jobs/delete/'+id,
      type: 'DELETE',
      success: function(result) {
         $("#"+ id).hide( "slow", function() {
            console.log(result.message);
          });
      }
  });
  event.preventDefault();
});
</script>
  </body>
</html>